.accout-information{
    margin-top: 50px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 4px 17px #12106517;
    border-radius: 6px;
    padding: 24px;

    .info {
        margin-top: 20px;
    }
}