<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <div class="icon-container">
            <mat-icon svgIcon="x"></mat-icon>
        </div>
    </button>
</div>
<div class="modal-body">
    {{ message }}
</div>
<div class="control-container">
    <button type="button" class="btn btn-primary" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-danger" (click)="accept()">{{ btnOkText }}</button>
</div>