<ng-container *ngIf="educationalProgram">
    <div class="grid2-main-title">
        <div class="content-center-vertical font-bold text-5xl">{{educationalProgram.name}}</div>
        <div class="content-right">
            <ng-container *ngIf="account.isAuthenticated() && account?.person?.isAdmin">
                <ng-container *ngIf="account?.person?.isAdmin">
                    <div class="content-right" style="margin-left: 10px;">
                        <button class="button-lightBlue" [routerLink]="['/educational-program-update', educationalProgram.id]">Редагувати</button>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="grid-container-2">
        <div class="data-container">
            <div class="label">
                <div class="innerlabel">Інформація про освітню програму</div>
            </div>
            <div class="marging-top30">
                <div class="flex-padding15 row-odd">
                    <div class="col-md-5 row-label">Університет</div>
                    <div class="col-md-7 row-text capitalize">{{educationalProgram.university.name}}</div>
                </div>
                <div class="flex-padding15">
                    <div class="col-md-5 row-label">Факультет</div>
                    <div class="col-md-7 row-text capitalize">{{educationalProgram.faculty.name}}</div>
                </div>
                <div class="flex-padding15 row-odd">
                    <div class="col-md-5 row-label">Галузь знань </div>
                    <div class="col-md-7 row-text capitalize">{{educationalProgram.areaOfExpertise.name}}</div>
                </div>
                <div class="flex-padding15">
                    <div class="col-md-5 row-label">Спеціальність</div>
                    <div class="col-md-7 row-text capitalize">{{educationalProgram.specialization.name}}</div>
                </div>
                <div class="flex-padding15 row-odd">
                    <div class="col-md-5 row-label">Освітній рівень </div>
                    <div class="col-md-7 row-text capitalize">{{educationalProgram.educationalProgramsType.name}}</div>
                </div>
            </div>
        </div>
        <div class="data-container relative">
            <div class="label">
                <div class="innerlabel">Дисципліни</div>
            </div>
            <div style="padding-top: 10px;">
                <ng-container *ngIf="educationalProgram.subjects.length">
                    <div *ngFor="let item of educationalProgram.subjects; let index = index"
                    [ngClass]="{'row-odd': 0 === index % 2}" style="padding: 12px;">
                        <a class="grid-link" [routerLink]="['/subject', item.id]">
                            {{item.name}}
                        </a>        
                    </div>
                </ng-container>
                <ng-container *ngIf="!educationalProgram.subjects.length">
                    <div class="grid-text-empty row-label">
                        Дисципліни відсутні
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="data-container">
        <div class="label">
            <div class="innerlabel">Компетентності</div>
        </div>
        <div class="marging-top30">
            <ng-container *ngFor="let comp of educationalProgram.competences; let index = index">
                <div class="flex-padding15 row-odd" [ngClass]="{'row-odd': 0 === index % 2}">
                    <div class="col-md-2 row-label">{{comp.name}}</div>
                    <div class="col-md-10 row-text">{{comp.description}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="!educationalProgram.competences.length">
                <div class="row-label">Компетентності відсутні</div>
            </ng-container>
        </div>
    </div>
    <div class="data-container" style="margin-bottom: 10px;">
        <div class="label">
            <div class="innerlabel">Програмні результати навчання</div>
        </div>
        <div class="marging-top30">
            <ng-container *ngFor="let res of educationalProgram.programResults; let index = index">
                <div class="flex-padding15 row-odd" [ngClass]="{'row-odd': 0 === index % 2}">
                    <div class="col-md-2 row-label">{{res.name}}</div>
                    <div class="col-md-10 row-text">{{res.description}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="!educationalProgram.programResults.length">
                <div class="row-label">Програмні результати відсутні</div>
            </ng-container>
        </div>
    </div>
</ng-container>