<div class="content-container">
    <div class="col-md-6 offset-md-3 form-container">
        <h2 style="margin-bottom: 15px;">Форма для аторизації</h2>
        <form [formGroup]="loginForm" autocomplete="off" (submit)="login()">
            <ng-container *ngIf="error">
                <div class="error-container">
                    <div class="error-icon-container">
                        <mat-icon svgIcon="exclamation-circle-red" class=""></mat-icon>
                    </div>
                    <div class="error-text">
                        Невірна електронна адреса та пароль, спробуйте знову
                    </div>
                </div>
            </ng-container>
            <div class="form-control-group">
                <label >Електронна адреса</label>
                <input class="form-control form-control-md" id="Email" formControlName="Email"
                    [ngClass]="{'invalid-input': loginForm.get('Email')?.invalid && loginForm.get('Email')?.touched}">
                <label class="text-danger" *ngIf="loginForm.get('Email')?.touched && loginForm.get('Email')?.errors?.['required']">Введіть електронну адресу</label>
                <label class="text-danger" *ngIf="loginForm.get('Email')?.touched && loginForm.get('Email')?.errors?.['email']">Введіть коректну електронну адресу</label>
            </div>
            <div class="form-control-group">
                <label>Пароль</label>
                <input type="password" class="form-control form-control-md" formControlName="Password"
                [ngClass]="{'invalid-input': loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched}">
                <label class="text-danger" *ngIf="loginForm.get('Password')?.touched && loginForm.get('Password')?.errors?.['required']">Введіть пароль</label>
            </div>
            <div class="form-row">
                <button type="submit" class="button" [disabled]="!loginForm.valid">
                    <span class="button-text">
                        Увійти
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>