<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <div class="icon-container">
            <mat-icon svgIcon="list" (click)="toggleCollapse()" class="logo"></mat-icon>
        </div>
        <div class="log-icon-container" @fadeInOut *ngIf="collapsed">
            <mat-icon svgIcon="Logo" class="logo-icon"></mat-icon>
        </div>
    </div>
    <div class="sidenav-nav">
        <div class="sidenav-nav-item" *ngFor="let data of navData; let last = last"
            [ngClass]="{'sidenav-nav-item-last': last && !account.isAuthenticated()}">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <div class="icon-container">
                    <mat-icon [svgIcon]="data.icon" class=""></mat-icon>
                </div>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </div>
        <ng-container *ngIf="account.isAuthenticated()">
            <ng-container *ngIf="account.isAdminP">
                <div class="sidenav-nav-item">
                    <a class="sidenav-nav-link" [routerLink]="['users']" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"
                    >
                        <div class="icon-container">
                            <mat-icon svgIcon="people"></mat-icon>
                        </div>
                        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                            Користувачі
                        </span>
                    </a>
                </div>
            </ng-container>
            <div class="sidenav-nav-item sidenav-nav-item-last">
                <a class="sidenav-nav-link" [routerLink]="['account']" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    <div class="icon-container">
                        <mat-icon svgIcon="person" class=""></mat-icon>
                    </div>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Кабінет
                    </span>
                </a>
            </div>
        </ng-container>
    </div>
    <div class="sidenav-nav">
        <div class="sidenav-nav-item">
            <ng-container *ngIf="!account.isAuthenticated()">
                <a class="sidenav-nav-link" [routerLink]="['login']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                >
                    <div class="icon-container">
                        <mat-icon svgIcon="box-arrow-in-left" class=""></mat-icon>
                    </div>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Увійти до системи
                    </span>
                </a>
            </ng-container>
            <ng-container *ngIf="account.isAuthenticated()">
                <a class="sidenav-nav-link pointer" (click)= "account.logOut()"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                >
                    <div class="icon-container">
                        <mat-icon svgIcon="box-arrow-right" class=""></mat-icon>
                    </div>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Вихід
                    </span>
                </a>
            </ng-container>
        </div>
    </div>
</div>
